.app {
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}


.container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-container {
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);

	width: 500px;
	height: 350px;

	border: solid 1px #ccc;
	border-radius: 12px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.login-txt {
	font-family: "Montserrat", sans-serif;
	font-size: 30px;
}

.login-input {
	padding: 5px;

	width: 200px;

	font-family: "Oswald", sans-serif;
	font-size: 20px;

	border: solid 1px #ccc;
	border-radius: 9px;

}

.button {
	margin-top: 7px;
	text-shadow: 2px 2px 2px #000000;

	width: 100px;
	height: 50px;

	border: none;
	border-radius: 20px;

	padding: 7px;
	font-size: 22px;
	font-family: "Oswald", sans-serif;
	background-color: #203354;
	color: white;

	cursor: pointer;
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.buttons .button {
	margin-right: 20px;
}

.buttons input[type="text"] {
	border: solid 1px #ccc;
	border-radius: 5px;
	padding-left: 5px;
	font-size: 18px;
	font-family: "Oswald", sans-serif;
	margin-right: 20px;
}

.button:hover {
	font-size: 22.5px;
}

.register-notice {
	display: inline-block;
	font-family: "Oswald", sans-serif;
	font-size: 14px;
	margin: none;
}

.notice-container {
	display: inline-block;
}

.register {
	border: none;
	height: 14px;
	cursor: pointer;
	background-color: transparent;
	font-family: "Oswald", sans-serif;
}

.map {
	width: 100%;
	height: 70%;
}

.land-id {
	position: absolute;

	padding: 5px;
	font-size: 16px;
	font-family: "Oswald", sans-serif;
	color: black;

	bottom: .5em;
	left: .5em;
}
